
  
  /* //////////////////////// CONTENTS ///////////////////////////// */
       body, html{
         height: 100%;
         margin: 0;
         font-family: cursive; 
         font-size: 20px;
         font-weight: 400;  
  } 
  
  
  .pimg1, .pimg2{
      height: 87vh; 
      background-size: cover ;
      -webkit-background-size:cover;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      opacity:1;
      /*this is what make us have that parallax effects 
      if we wanna remove that effect we have to set to scroll */    background-attachment: fixed;
  } 
  
  .section{
      text-align: center;
      padding : 50px 80px;
  }
  
  .section-light{
      background-color: #f2f2f2;
      color:black;
      font-family: cursive;
  }
  
  .section-dark{	
      /* background-color: #4c4c4c; */
      background-color: black;
      color: #ddd; 
  }

.welcome-text {
	width: 500px;
	height: 300px;
  margin: 10% 30%; 
} 
.welcome-text h1 { 
	text-align: justify; 
  position:fixed; 
  font-family: 'Ultra',serif;
  margin-left:10px;
	margin-top: 70px;  
  background:  linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 130px;
}
.welcome-text h2{
  text-align: right; 
  position: fixed; 
  font-family: 'Ultra',serif;
  margin-top: 330px; 
  margin-left: 450px; 
  background:  linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
  -webkit-text-fill-color: transparent; 
  -webkit-background-clip: text;
  text-transform: uppercase; 
  font-size: 130px;
}   

.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: transparent;
	color:#fff;
}
  .ptext{
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      font-size: 20px; 
      /* color: #000; */
      color: black;
      letter-spacing: 8px;
      text-transform: uppercase;
  
  }
  
  .ptext1{
    position: absolute;
    top: 50%;
    width: 100%;
    /* text-align: center; */
    font-size: 27px;
    /* color: #000; */
    color: black;
    letter-spacing: 8px;
    text-transform: uppercase;

}

  .ptext .border{
      background-color: black;
      color: #fff;
      padding: 20px;
      font-weight: 500;
  }
  
  .ptext .border.trans{
      /* background-color: transparent; */
      background-color: #fff;
      color: black;
      padding: 20px;
      font-weight: 500;
  }
  .ptext .border.trans1{
      background-color: transparent;
  }
  
  @media(max-width : 568px){
      .pimg1, .pimg2, .pimg{
          background-attachment: scroll;
      }
  }
  
  h2 {
      font-size: 30px;
  }
  
  p {
      font-size: 20px;
  }

 /* /////////Contact form ///////////////// */
 * {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50; 
  font-family: cursive;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: left;
  color:black;
}
  